@import "tailwindcss";

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --primary: #4f7bef;
    --primary-foreground: #ffffff;

    --secondary: #f1f5f9;
    --secondary-foreground: #1e293b;

    --danger: #ef4444;
    --danger-foreground: #f8fafc;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #f1f5f9;
    --accent-foreground: #1e293b;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #e2e8f0;
    --input: #e2e8f0;
    --ring: #4f7bef;

    --radius: 0.5rem;

    /* Sidebar variables */
    --sidebar: #ffffff;
    --sidebar-foreground: #020817;
    --sidebar-border: #e2e8f0;
    --sidebar-accent: #f1f5f9;
    --sidebar-accent-foreground: #1e293b;
    --sidebar-ring: #4f7bef;
  }

  .dark {
    --background: #020817;
    --foreground: #f8fafc;

    --card: #020817;
    --card-foreground: #f8fafc;

    --popover: #020817;
    --popover-foreground: #f8fafc;

    --primary: #4f7bef;
    --primary-foreground: #ffffff;

    --secondary: #1e293b;
    --secondary-foreground: #f8fafc;

    --danger: #dc2626;
    --danger-foreground: #f8fafc;

    --muted: #1e293b;
    --muted-foreground: #94a3b8;

    --accent: #1e293b;
    --accent-foreground: #f8fafc;

    --destructive: #7f1d1d;
    --destructive-foreground: #f8fafc;

    --border: #1e293b;
    --input: #1e293b;
    --ring: #4f7bef;

    /* Sidebar variables */
    --sidebar: #020817;
    --sidebar-foreground: #f8fafc;
    --sidebar-border: #1e293b;
    --sidebar-accent: #1e293b;
    --sidebar-accent-foreground: #f8fafc;
    --sidebar-ring: #4f7bef;
  }
}